.mainContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.inputFild{
width: 75%;
margin: 20px auto;
font-size: larger;


}
.inputFildDiv{
    background-color: rgba(0, 0, 0, 0.822);
    text-align: center;
}

.pages{
    width: 50%;
    margin: 10px auto;
}

.pages button{
   font-size: large;
    margin: 10px;
}
.pages .selected{
    background-color: blue;
    color: white;
}